* {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#grid {
  display: grid;
  grid-template-rows: repeat(1, 4fr);
}
#grid img {
  width: 250px;
  height: 200px;
  padding: 0.5px;
}
